@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --header-color: rgb(255, 115, 0);
  --laranja-header: rgb(255, 153, 0);
  --azul-nav: rgb(0, 0, 122);
  --container-back-color: rgb(5, 5, 5);
  --layout-back-color: white;
  --layout-font-color: rgb(0, 0, 0);
  --link-color: rgb(126, 126, 126);
  --h1-layout-color: rgb(0, 0, 0);
}

#container-header {
  width: 100%;
  height: 80px;
  position: relative;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.445);
  background-color: var(--header-color);
}

header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-header {
  padding-left: 10px;
  width: 200px;
}

#menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 100%;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.315);
  background-color: var(--azul-nav);
  transition-duration: 300ms;
}

#menu-header > img {
  display: none;
}

#menu-header:hover {
  width: 350px;
  transition-duration: 400ms;
}

nav a {
  color: white;
  padding: 0 1px 0 1px;
  border: 5px solid var(--azul-nav);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: var(--azul-nav);
  border-radius: 5px;
  transition-duration: 300ms;
  background-color: aliceblue;
  border: 5px solid aliceblue;
}

#container-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--container-back-color);
}

#display-welcome {
  max-width: 965px;
  min-width: 320px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.192);
}

#welcome {
  max-width: 925px;
  min-width: 320px;
  padding: 50px;
  background-color: orange;
}

#welcome h1 {
  margin-bottom: 15px;
  color: white;
}

#welcome p {
  color: aliceblue;
}

#container {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--container-back-color);
}

#layout {
  max-width: 925px;
  min-width: 320px;
  margin: auto;
  padding: 20px;
  text-align: justify;
  background-color: var(--layout-back-color);
  color: var(--layout-font-color);
  transition: 500ms;
}

#layout h1 {
  font-size: 2em;
  color: var(--h1-layout-color);
}

#aside-highlight {
  max-width: 965px;
  margin: auto;
  background-color: var(--laranja-header);
  box-shadow: 0 -3px 2px rgba(0, 0, 0, 0.13);
}

#text-highlight {
  width: 70%;
  margin: auto;
  padding: 20px;
}

#aside-highlight >  p {
  width: 70%;
  margin: auto;
  padding: 20px;
  padding-bottom: 40px;
  text-align: justify;
}

#container-highlight {
  margin: auto;
  width: 70%;
}

#highlight {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

#highlight iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: var(--azul-nav);
  color: aliceblue;
}

#container-social-media {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 110px;
  background-color: var(--container-back-color);
}

#social-media {
  margin: auto;
  color: aliceblue;
  width: 100%;
}

#social-media img {
  width: 25px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  outline: 3px solid black;
  border-radius: 10px;
  filter: invert(100%);
}

footer span {
  font-weight: bolder;
}

@media (max-width: 500px) {
  #logo-header {
    margin-top: 4px;
    width: 145px;
    height: 45px;
  }
  #menu-header {
    flex-direction: column;
    width: 80px;
    height: 100%;
    transition: 200ms;
  }
  #menu-header > img {
    display: flex;
  } 
  #menu-header:hover > img {
    margin-top: 137px;
    margin-bottom: 25px;
  }
  #menu-header:hover {
    width: 100px;
    height: 350px;
    border-radius: 0 0 0 10px;
    transition: 100ms;
  }
  #menu-header:hover > nav > a {
    display: block;
  }
  nav a {
    display: none;
  }
}