@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --header-color: rgb(255, 115, 0);
  --laranja-header: rgb(255, 153, 0);
  --azul-nav: rgb(0, 0, 122);
}

#container-header {
  background-color: var(--header-color);
  width: 100%;
  height: 80px;
}

header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo-header {
  padding-left: 10px;
  width: 200px;
}

#menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 100%;
  background-color: var(--azul-nav);
}

nav a {
  color: white;
  padding: 0 1px 0 1px;
  border: 5px solid var(--azul-nav);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  background-color: aliceblue;
  border: 5px solid aliceblue;
  color: var(--azul-nav);
  border-radius: 5px;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  #logo-header {
    padding-top: 4px;
    width: 145px;
    height: 45px;
  }
  #menu-header {
    margin: auto;
    width: 100%;
    height: 35px;
  }
}
