@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --header-color: rgb(255, 115, 0);
    --laranja-header: rgb(255, 153, 0);
    --azul-nav: rgb(0, 0, 122);
}

#container-header {
    background-color: var(--header-color);
    width: 100%;
    height: 80px;
}

header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-header {
    padding-left: 10px;
    padding-right: 10px;
}

#menu-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 280px;
    background-color: var(--azul-nav);
}

nav a {
    color: white;
    padding: 0 1px 0 1px;
    border: 5px solid var(--azul-nav);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: aliceblue;
    border: 5px solid aliceblue;
    color: var(--azul-nav);
    border-radius: 5px;
}
