@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

:root {
  --menu-background-color: orange;
  --menu-icons-background-colo: rgb(0, 110, 255);
}

#container-header {
  width: 100%;
  background-image: url(../images/header-background.jpeg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#layout-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#text-header {
  padding: 80px 80px 0 80px;
  font-family: 'Ubuntu';
  font-size: 2em;
  color: white;
}

#text-header h1 {
  line-height: 55px;
}

#text-header p {
  text-align: justify;
  margin-top: 20px;
}

#menu-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 50%;
}

#menu-layout {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--menu-background-color);
}

.menu.image {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  left: 5px;
}

.menu.off {
  position: absolute;
  transition-duration: 0.3s;
}

#menu-container:hover .menu.off {
  transform: rotate(180deg);
  transition-duration: 0.3s;
  opacity: 0;
}

.menu.on {
  position: absolute;
  opacity: 0;
  transition-duration: 0.3s;
}

#menu-container:hover .menu.on {
  opacity: 1;
  transform: rotate(-180deg);
  transition-duration: 0.3s;
}

.menu.icons {
  list-style: none;
  opacity: 1;
  position: relative;
  top: -41px;
  opacity: 0;
  transition-duration: 0.3s
}

#menu-container:hover .menu.icons {
  opacity: 1;
  transition-duration: 0.3s;
}

.menu.live {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--menu-icons-background-colo);
    transition-duration: 0.3s;
}

#menu-container:hover .menu.live {
    transform: translateY(-57px);
    transition-duration: 0.15s;
}

.menu.replay-lives {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--menu-icons-background-colo);
    transition-duration: 0.3s
}

#menu-container:hover .menu.replay-lives {
    transform: translateX(55px);
    transition-duration: 0.25s;
}

.menu.last-videos {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--menu-icons-background-colo);
    transition-duration: 0.3s
}

#menu-container:hover .menu.menu.last-videos {
    transform: translateY(56px);
    transition-duration: 0.35s;
}

.menu.clips {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--menu-icons-background-colo);
    transition-duration: 0.3s
}

#menu-container:hover .menu.clips {
    transform: translateX(-55px);
    transition-duration: 0.45s;
}

#layout {
    font-family: 'Ubuntu';
    padding: 50px;
}
