@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu";
}

:root {
  --menu-background-color: orange;
  --menu-background-color: #ef6903;
  --menu-container-background-color: #ef6903c9;
  --menu-icons-hover-background-color: #ef6903;
  --box-shadow-menu: 0 0 3px rgba(0, 0, 0, 0.3);
  --a-color: orangered;
  --iframe-background-color: orangered;
}

#container-header {
  width: 100%;
  background-image: url(../images/header-background.jpeg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}

#layout-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

#text-header {
  padding: 80px 80px 0 80px;
  font-family: "Ubuntu";
  font-size: 2em;
  color: white;
}

#text-header h1 {
  line-height: 55px;
}

#text-header p {
  text-align: justify;
  margin-top: 20px;
}

#menu-container {
  width: 175px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}

#menu-container:hover {
  background-color: var(--menu-container-background-color);
  transition-duration: 0.3s;
}

#menu-layout {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--menu-background-color);
  box-shadow: var(--box-shadow-menu);
}

.menu.image {
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  left: 5px;
}

.menu.off {
  position: absolute;
  transition-duration: 0.3s;
}

#menu-container:hover .menu.off {
  transform: rotate(180deg);
  transition-duration: 0.3s;
  opacity: 0;
}

.menu.on {
  position: absolute;
  opacity: 0;
  transition-duration: 0.3s;
}

#menu-container:hover .menu.on {
  opacity: 1;
  transform: rotate(-180deg);
  transition-duration: 0.3s;
}

.menu.icons {
  list-style: none;
  opacity: 1;
  position: relative;
  top: -41px;
  opacity: 0;
  transition-duration: 0.3s;
}

#menu-container:hover .menu.icons {
  opacity: 1;
  transition-duration: 0.3s;
}

.menu.live {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.3s;
  box-shadow: var(--box-shadow-menu);
}

#menu-container:hover .menu.live {
  transform: translateY(-57px);
  transition-duration: 0.15s;
  background-color: var(--menu-icons-hover-background-color);
}

.menu.live:hover a {
  filter: invert(1);
}

.menu.replay-lives {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.3s;
  box-shadow: var(--box-shadow-menu);
}

#menu-container:hover .menu.replay-lives {
  transform: translateX(55px);
  transition-duration: 0.25s;
  background-color: var(--menu-icons-hover-background-color);
}

.menu.replay-lives:hover a {
  filter: invert(1);
}

.menu.last-videos {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.3s;
  box-shadow: var(--box-shadow-menu);
}

#menu-container:hover .menu.menu.last-videos {
  transform: translateY(56px);
  transition-duration: 0.35s;
  background-color: var(--menu-icons-hover-background-color);
}

.menu.last-videos:hover a {
  filter: invert(1);
}

.menu.clips {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  transition-duration: 0.3s;
  box-shadow: var(--box-shadow-menu);
}

#menu-container:hover .menu.clips {
  transform: translateX(-55px);
  transition-duration: 0.45s;
  background-color: var(--menu-icons-hover-background-color);
}

.menu.clips:hover a {
  filter: invert(1);
}

#container {
  background-color: rgb(226, 226, 226);
}

main {
  text-align: justify;
  max-width: 1325px;
  margin: auto;
  background-color: white;
}

section {
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.iframes {
  max-width: 1325px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--iframe-background-color);
}

.iframes iframe {
  width: 100%;
}

#subscribe {
  margin-top: 15px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

#subscribe a {
  font-weight: bold;
  text-decoration: none;
  color: var(--a-color);
}

footer {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
}

#footer-images {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}

#footer-images img {
  margin-left: 1.5px;
  margin-right: 1.5px;
}

#twitch-icon {
  width: 26px;
  height: 26px;
}

@media (max-width: 720px) {
  #text-header {
    padding: 20px 20px 0 20px;
    font-size: 1em;
  }
  #text-header h1 {
    line-height: 27px;
  }

  section {
    padding: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #subscribe {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }
}
